In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
import os
from huggingface_hub import login
login(token=os.environ['HUGGINGFACEHUB_API_TOKEN'])

In [3]:
from datasets import load_dataset

In [4]:
data = load_dataset('namfam/gsm8k-vietnamese')

In [5]:
import json

# Assuming `data` is a DatasetDict
dataset_split = data["train"]  # or "test", "validation", etc.

In [6]:
# Convert to JSON (list of dictionaries)
json_data = dataset_split.to_pandas()

In [7]:
json_data

,index,answer,problem,solution
0,4691,570,Jerry được thuê để làm việc trên một ngôi nhà ...,Explanation:\nJerry mất 24 giờ để sửa cái bàn ...
1,4614,150,Yasmin đã gửi một chiếc séc sinh nhật trị giá ...,Explanation:\nSố tiền 50 đô la trên chiếc séc ...
2,7081,19,Một giáo viên đã mua một số dụng cụ học tập vớ...,Explanation:\nNgân sách tổng của giáo viên là ...
3,5434,274,Kylie và Kayla hái táo cùng nhau và mang về nh...,Explanation:\nKylie đã hái được 66 quả táo. Ka...
4,2504,70,Elsie có một số lượng khăn ướt cụ thể trong mộ...,"Explanation:\nSáng hôm đó, Elsie có w miếng kh..."
...,...,...,...,...
6720,4306,23,Có 920 con nai trong một công viên. 10% số nai...,Explanation:\nĐầu tiên tìm số lượng nai có 8 s...
6721,6983,1260,Một chiếc vòng quay có thể chứa được 70 người ...,Explanation:\nCông Viên Vòng Quay sẽ mở cửa tr...
6722,2726,8,Jeremy thích chơi Scrabble. Anh ấy từng đánh m...,"Explanation:\nSau khi từ ""score"" được nhân ba ..."
6723,49,48,Trong chuyến đi dã ngoại đến bờ biển của trườn...,Explanation:\nBen đã sưu tầm được 12 vỏ sò từ ...
6724,3812,75,Don ném 3 phi tiêu. Một phi tiêu trúng tâm giá...,Explanation:\nCú tung thứ ba của Don đạt được ...

In [25]:
import json
import os
from datasets import load_dataset, Dataset, DatasetDict

def save_hf_dataset_to_json(data_id: str, save_dir: str = None):
    """
    Load a Hugging Face dataset and save each split as a JSON file.

    Args:
        data_id (str): Path to the Hugging Face dataset (or dataset ID).
        save_dir (str, optional): Directory to save JSON files. Defaults to the second part of `data_id` after '/'.
    """
    # If save_dir is not specified, extract dataset name from data_id
    if save_dir is None:
        save_dir = data_id.split("/")[-1]

    # Load the dataset
    dataset = load_dataset(data_id)

    # Ensure the save directory exists
    os.makedirs(save_dir, exist_ok=True)

    # Save each split separately
    if isinstance(dataset, DatasetDict):
        for split, ds in dataset.items():
            output_file = os.path.join(save_dir, f"{split}.json")
            data = ds.to_list()
            with open(output_file, "w", encoding="utf-8") as f:
                json.dump(data, f, ensure_ascii=False, indent=4)
            print(f"Saved {split} split to {output_file}")
    elif isinstance(dataset, Dataset):
        output_file = os.path.join(save_dir, "dataset.json")
        data = dataset.to_list()
        with open(output_file, "w", encoding="utf-8") as f:
            json.dump(data, f, ensure_ascii=False, indent=4)
        print(f"Saved dataset to {output_file}")
    else:
        raise ValueError("Invalid dataset format. Must be a Hugging Face Dataset or DatasetDict.")

# Example usage:
# save_hf_dataset_to_json("squad")  # Saves in "squad/" directory
# save_hf_dataset_to_json("cnn_dailymail", "news_data")  # Saves in "news_data/" directory

In [30]:
save_hf_dataset_to_json('namfam/gsm8k-vietnamese', 'E:/projects/SolveItEasy/data/GSM8K/gsm8k_vietnamese')

Saved train split to E:/projects/SolveItEasy/data/GSM8K/gsm8k_vietnamese\train.json
Saved test split to E:/projects/SolveItEasy/data/GSM8K/gsm8k_vietnamese\test.json
Saved val split to E:/projects/SolveItEasy/data/GSM8K/gsm8k_vietnamese\val.json

In [31]:
from datasets import load_dataset
import os

def load_hf_dataset_from_json(save_dir: str):
    """
    Load a Hugging Face dataset from JSON files.

    Args:
        save_dir (str): Directory containing JSON files.

    Returns:
        DatasetDict or Dataset: Loaded dataset.
    """
    json_files = [f for f in os.listdir(save_dir) if f.endswith(".json")]

    if len(json_files) == 1:
        # If only one dataset file exists, load it as a single Dataset
        dataset = load_dataset("json", data_files=os.path.join(save_dir, json_files[0]))
    else:
        # If multiple JSON files exist (splits), load them into a DatasetDict
        data_files = {file.replace(".json", ""): os.path.join(save_dir, file) for file in json_files}
        dataset = load_dataset("json", data_files=data_files)
    
    return dataset

# Example usage:
# dataset = load_hf_dataset_from_json("output_dir")
# print(dataset)

In [32]:
dataset = load_hf_dataset_from_json("E:/projects/SolveItEasy/data/GSM8K/gsm8k_vietnamese")

Generating test split: 0 examples [00:00, ? examples/s]

Generating train split: 0 examples [00:00, ? examples/s]

Generating val split: 0 examples [00:00, ? examples/s]

In [195]:
from datasets import load_dataset

In [196]:
gsm8k_en = load_dataset('openai/gsm8k', 'main')

In [197]:
gsm8k_en['train'] = gsm8k_en['train'].add_column("index", list(range(len(gsm8k_en['train']))))
gsm8k_en['test'] = gsm8k_en['test'].add_column("index", list(range(len(gsm8k_en['test']))))

In [201]:
gsm8k_en['train'][100]

{'question': 'A craft store makes a third of its sales in the fabric section, a quarter of its sales in the jewelry section, and the rest in the stationery section. They made 36 sales today. How many sales were in the stationery section?',
 'answer': 'The craft store made 36 / 3 = <<36/3=12>>12 sales in the fabric section.\nIt made 36 / 4 = <<36/4=9>>9 sales in the jewelry section.\nThus, there were 36 - 12 - 9 = <<36-12-9=15>>15 sales in the stationery section.\n#### 15',
 'index': 100}

In [199]:
print(gsm8k_en['train'][100]['answer'].split('####')[0].strip())

The craft store made 36 / 3 = <<36/3=12>>12 sales in the fabric section.
It made 36 / 4 = <<36/4=9>>9 sales in the jewelry section.
Thus, there were 36 - 12 - 9 = <<36-12-9=15>>15 sales in the stationery section.

In [200]:
print(gsm8k_en['train'][100]['answer'].split('####')[1].strip())

15

In [202]:
gsm8k_en['train'].column_names

['question', 'answer', 'index']

In [203]:
def transform(example):
    explanation = example['answer'].split('####')[0].strip()
    answer = example['answer'].split('####')[1].strip()
    return {
        "index": example['index'],
        "problem": example["question"],
        "solution": f"Explanation:\n{explanation}\nAnswer:\n{answer}",
        "answer": answer
    }

# Apply transformation
new_gsm8k_en = gsm8k_en.map(transform, remove_columns=gsm8k_en['train'].column_names)

In [204]:
new_gsm8k_en

DatasetDict({
    train: Dataset({
        features: ['answer', 'index', 'problem', 'solution'],
        num_rows: 7473
    })
    test: Dataset({
        features: ['answer', 'index', 'problem', 'solution'],
        num_rows: 1319
    })
})

In [209]:
new_gsm8k_en['train'][10]

{'answer': '121',
 'index': 10,
 'problem': 'A deep-sea monster rises from the waters once every hundred years to feast on a ship and sate its hunger. Over three hundred years, it has consumed 847 people. Ships have been built larger over time, so each new ship has twice as many people as the last ship. How many people were on the ship the monster ate in the first hundred years?',
 'solution': 'Explanation:\nLet S be the number of people on the first hundred years’ ship.\nThe second hundred years’ ship had twice as many as the first, so it had 2S people.\nThe third hundred years’ ship had twice as many as the second, so it had 2 * 2S = <<2*2=4>>4S people.\nAll the ships had S + 2S + 4S = 7S = 847 people.\nThus, the ship that the monster ate in the first hundred years had S = 847 / 7 = <<847/7=121>>121 people on it.\nAnswer:\n121'}

In [210]:
gsm8k_en = new_gsm8k_en
# Splitting the dataset
val_ratio = 0.1
seed=202502
# train_test_split = hf_dataset.train_test_split(test_size=test_ratio, seed=seed)
train_val_split = gsm8k_en["train"].shuffle(seed=seed).train_test_split(test_size=val_ratio, seed=seed)  # 0.25 x 0.8 = 0.2

# Create DatasetDict
gsm8k_en = DatasetDict({
    "train": train_val_split["train"],
    "val": train_val_split["test"],
    "test": gsm8k_en["test"]
})

In [211]:
gsm8k_en

DatasetDict({
    train: Dataset({
        features: ['answer', 'index', 'problem', 'solution'],
        num_rows: 6725
    })
    val: Dataset({
        features: ['answer', 'index', 'problem', 'solution'],
        num_rows: 748
    })
    test: Dataset({
        features: ['answer', 'index', 'problem', 'solution'],
        num_rows: 1319
    })
})

In [213]:
gsm8k_en['val'][2]

{'answer': '70',
 'index': 6163,
 'problem': "The sum of the three angles of a triangle equals 250. The left angle is twice the right angle's value, and the right angle is 60 degrees. Find the value of the top angle?",
 'solution': 'Explanation:\nSince the left angle is twice the value of the right angle, the left angle is 60*2 = <<60*2=120>>120 degrees.\nThe total value of the left and right angles is 120+60 = <<120+60=180>>180 degrees.\nSince the sum of the three angles is equal to 250, the other angle has a value of 250-180 = <<250-180=70>>70 degrees.\nAnswer:\n70'}

In [216]:
gsm8k_en.push_to_hub('namfam/gsm8k-english')

Uploading the dataset shards:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/7 [00:00<?, ?ba/s]

Uploading the dataset shards:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/1 [00:00<?, ?ba/s]

Uploading the dataset shards:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/2 [00:00<?, ?ba/s]

CommitInfo(commit_url='https://huggingface.co/datasets/namfam/gsm8k-english/commit/3363fbd2541ccd2feda9390d71ee5f3da0714462', commit_message='Upload dataset', commit_description='', oid='3363fbd2541ccd2feda9390d71ee5f3da0714462', pr_url=None, repo_url=RepoUrl('https://huggingface.co/datasets/namfam/gsm8k-english', endpoint='https://huggingface.co', repo_type='dataset', repo_id='namfam/gsm8k-english'), pr_revision=None, pr_num=None)

In [217]:
save_hf_dataset_to_json('namfam/gsm8k-english', 'E:/projects/SolveItEasy/data/GSM8K/gsm8k_english')

README.md:   0%|          | 0.00/599 [00:00<?, ?B/s]

train-00000-of-00001.parquet:   0%|          | 0.00/2.13M [00:00<?, ?B/s]

val-00000-of-00001.parquet:   0%|          | 0.00/243k [00:00<?, ?B/s]

test-00000-of-00001.parquet:   0%|          | 0.00/430k [00:00<?, ?B/s]

Generating train split:   0%|          | 0/6725 [00:00<?, ? examples/s]

Generating val split:   0%|          | 0/748 [00:00<?, ? examples/s]

Generating test split:   0%|          | 0/1319 [00:00<?, ? examples/s]

Saved train split to E:/projects/SolveItEasy/data/GSM8K/gsm8k_english\train.json
Saved val split to E:/projects/SolveItEasy/data/GSM8K/gsm8k_english\val.json
Saved test split to E:/projects/SolveItEasy/data/GSM8K/gsm8k_english\test.json

In [218]:
gmsk_vi = load_dataset('namfam/gsm8k-vietnamese')

In [219]:
gmsk_vi

DatasetDict({
    train: Dataset({
        features: ['index', 'answer', 'problem', 'solution'],
        num_rows: 6725
    })
    test: Dataset({
        features: ['index', 'answer', 'problem', 'solution'],
        num_rows: 1319
    })
    val: Dataset({
        features: ['index', 'answer', 'problem', 'solution'],
        num_rows: 748
    })
})

In [220]:
gmsk_vi['val'][2]

{'index': 6163,
 'answer': '70',
 'problem': 'Tổng ba góc của một tam giác bằng 250 độ. Góc bên trái gấp đôi giá trị của góc bên phải và góc bên phải là 60 độ. Tìm giá trị của góc đỉnh?',
 'solution': 'Explanation:\nVì góc bên trái gấp đôi góc bên phải, nên góc bên trái có giá trị là 60*2 = 120 độ.\nTổng giá trị của góc bên trái và góc bên phải là 120+60 = 180 độ.\nVì tổng ba góc bằng 250 độ, nên góc còn lại có giá trị là 250-180 = 70 độ.\nAnswer:\n70'}

In [221]:
gsm8k_en['val'][2]

{'answer': '70',
 'index': 6163,
 'problem': "The sum of the three angles of a triangle equals 250. The left angle is twice the right angle's value, and the right angle is 60 degrees. Find the value of the top angle?",
 'solution': 'Explanation:\nSince the left angle is twice the value of the right angle, the left angle is 60*2 = <<60*2=120>>120 degrees.\nThe total value of the left and right angles is 120+60 = <<120+60=180>>180 degrees.\nSince the sum of the three angles is equal to 250, the other angle has a value of 250-180 = <<250-180=70>>70 degrees.\nAnswer:\n70'}

In [222]:
for item in gmsk_vi['train']:
    if item['index'] == 99:
        print(item)

{'index': 99, 'answer': '3', 'problem': 'Gail có hai bể cá. Bể thứ nhất gấp đôi kích thước của bể thứ hai. Có 48 gallon nước trong bể thứ nhất. Cô ấy tuân theo quy tắc một gallon nước cho mỗi inch cá. Nếu cô ấy giữ cá 2 inch trong bể thứ hai và cá 3 inch trong bể thứ nhất, cô ấy sẽ có bao nhiêu cá hơn trong bể thứ nhất so với bể thứ hai nếu một con cá trong bể thứ nhất ăn mất một con cá khác?', 'solution': 'Explanation:\nBể thứ hai có dung tích 24 gallon vì 48 chia 2 bằng 24.\nTheo quy tắc của Gail, cô ấy nuôi 12 con cá dài 2 inch trong bể thứ hai vì 24 chia 2 bằng 12.\nCô ấy nuôi 16 con cá trong bể thứ nhất vì 48 chia 3 bằng 16.\nNếu một con cá trong bể thứ nhất ăn mất một con cá khác, cô ấy sẽ có 15 con cá trong bể thứ nhất.\nDo đó, Gail sẽ có thêm 3 con cá trong bể thứ nhất.\nAnswer:\n3'}

In [223]:
for item in ds:
    if item['index'] == 99:
        print(item)

{'question': 'Gail has two fish tanks. The first tank is twice the size of the second tank. There are 48 gallons of water in the first tank. She follows the rule of one gallon of water per inch of fish. If she keeps two-inch fish in the second tank and three-inch fish in the first tank, how many more fish would Gail have in the first tank than the second tank if one of the first tank fish eats another?', 'answer': 'The second tank is 48 / 2 = <<48/2=24>>24 gallons.\nFollowing her rule, Gail keeps 24 / 2 = <<24/2=12>>12 two-inch fish in the second tank.\nShe keeps 48 / 3 = <<48/3=16>>16 fish in the first tank.\nIf one fish in the first tank ate another, she would have 16 - 1 = <<16-1=15>>15 fish in the first tank.\nThus, Gail would have 15 - 12 = <<15-12=3>>3 more fish in the first tank.\n#### 3', 'index': 99}